@model IList<Film_Management_System.Models.ViewModels.FilmActorCategoryViewModel>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<h2>Film List</h2>
@Html.ActionLink("Create New Film","Create")
<table class="table">
    <thead>
    <tr>
        <th>
            Film Id
        </th>
        <th>
            Film Title
        </th>
        <th>
            Film Description
        </th>
        <th>
            Release Year
        </th>
        <th>
            Rating
        </th>
        <th>
            Film Category
        </th>
        <th>
            Lead Actor
        </th>
    </tr>
    </thead>
   @foreach (var film in Model)
   {
       <tr>
           <td>@film.FilmId</td>
           <td>@film.Title</td>
           <td>@film.Description</td>
           <td>@film.ReleaseYear</td>
           <td>@film.Rating</td>
           <td>@film.CategoryName</td>
           <td>@film.FirstName @film.LastName</td>
           <td></td>
       </tr>
   }

</table>

